
@{
    ViewBag.Title = "LicenseDetil";
}
<style type="text/css">
    @@font-face {
        font-family: 'Roboto-Light';
        src: url("../../fonts/Roboto-Light.ttf") format('truetype');
    }

    @@font-face {
        font-family: 'Roboto-Black';
        src: url("../../fonts/Roboto-Black.ttf") format('truetype');
    }
    th, td {
    border-bottom: 1px solid #ddd;
}
    body {
    font-family:Roboto-Light
    }
</style>


<h1> <font style="font-family:Roboto-Light"> License Detail</font> </h1>

<table width="50%">
    <tr>
        <td colspan="2">
            <h4> <font style="font-family:Roboto-Black"> User detail</font> </h4>
        </td>
       
    </tr>
    <tr>
        <td>
            Customer Status
        </td>
        <td>
            Active
        </td>
    </tr>
    <tr>
        <td>
            License Plan
        </td>
        <td>
            Monthly Payment
        </td>
    </tr>
    <tr>
        <td>
           
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td colspan="2">
            <h4> <font style="font-family:Roboto-Black"> Plan detail</font> </h4>
        </td>

    </tr>
    <tr>
        <td>
            Plan
        </td>
        <td>
            Montly Payment
        </td>
    </tr>
    <tr>
        <td>
            Users
        </td>
        <td>
            9
        </td>
    </tr>
    <tr>
        <td>
            Account Available
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td colspan="2">
            <h4> <font style="font-family:Roboto-Black"> Transaction detail</font> </h4>
        </td>

    </tr>
    <tr>
        <td>
            StartDate
        </td>
        <td>
            9/7/2016
        </td>
    </tr>
    <tr>
        <td>
            Next Transaction Date
        </td>
        <td>
            10/7/2016
        </td>
    </tr>
    <tr>
        <td>
           Total payment
        </td>
        <td>
            $200.00
        </td>
    </tr>
</table>